<div class="form-horizontal">
  <div class="form-group">
    <%= form_for(:idea, url: api_v1_ideas_path) do |f| %>
      <%= f.label :title, { :class => "form-label" } %>
      <%= f.text_field :title %>
      
      <%= f.label :body, { :class => "form-label" } %>
      <%= f.text_field :body %>
      
      <%= f.submit "Submit your idea", { :class => "btn btn-primary"} %>
    
    <% end %>
  </div>
  
</div>
